@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background: #94bbc5;
    color: #333;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #255a9c;
    padding-top: 20px;
}

input[type="text"] {
    display: block;
    width: 280px;
    max-width: 400%;
    padding: 12px 16px;
    margin: 30px auto;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
    
}

input[type="text"]:focus::placeholder {
    background-color: #fff;
    border-color: #0077ff;
    box-shadow: 0 0 6px rgba(0, 119, 255, 0.4);
}

input[type="text"]::placeholder {
    color: #aaa;
    transition: color 0.3s ease;
}

.botoes{
    display: flex;
    justify-content: center;
    
}

button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background-color: #2c78d7;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #195da6;
}

.buttonClear {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background-color: #d04e1a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.buttonClear:hover {
    background-color: #8b3513;
}

#resultado {
    background: white;
    padding: 15px;
    margin: 30px auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    min-height: 50px;
    max-width: 1000px;
    text-align: center;
}

.bodyText{
    text-align: center;
    color: red;
    font-size: 1.3rem;
}

footer{
    text-align: center;
    margin-top: 50px;
}


