@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: block;
    padding: 20px auto;
    background-color: rgb(213, 218, 181);
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    


}

.container{
    display: flex;
    width: 900px;
    height: 200px;
    background-color: rgb(107, 165, 182);
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.box{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: rgb(30, 210, 204);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 1px black;
    
}

button{
    margin: 40px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(67, 149, 87);
    color: rgb(15, 6, 69);
}