body {
    font-family: Arial, sans-serif;
    background: #bdbcbe;
    color: #333;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #0078D7;
}

p{
    text-align: center;
}

.arrumaBotoes{
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #987cd2;
    padding: 10px;
    border-radius: 10px;
}

#extraButton{
    background-color: blue;
    color: yellow;
    font-weight: 600;

}

button {
   
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background-color: #0078D7;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}

#resultado {
    background: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    min-height: 50px;
}