@charset "UTF-8";

#alvo{
    margin-top: 20px;
    padding: 10px;
    background: #f1f8e9;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 250px;
    text-align: center;
    font-weight: bold;
}

button{
    margin: 5px;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #45a049;
}