@charset "UTF-8";
*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(237, 231, 231);
}

header{
    display: flex;
    width: 100vw;
    padding: 10px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin: 10px 10px 10px 20px;
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

header nav{
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 30px;
}

header nav ul{
    display: flex;
    justify-content: flex-end;
}

header nav ul a{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    text-decoration: none;
    color: rgb(202, 183, 183);
}

header nav ul a:hover{
    color: rgb(49, 121, 155);
    font-size: 1.4em;
    transition: color .4s;
}

#destaque{
    background-image: linear-gradient(to top, rgb(49, 179, 49), rgb(119, 119, 202));
    margin: auto;
    max-width: 1000px;
    height: 300px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 40px;
}

#destaque h1{
    font-size: 2em;
    padding: 15px;
    text-align: center;
    color: white; 
}

#destaque h2{
    font-size: 1.5em;
    text-align: center;
    color: white;
}

#destaque p{
    text-align: center;
    padding-top: 30px;
    font-size: 1.2em;
    color: white;
}

#destaque div{
    display: flex;
    justify-content: center;
}

#destaque div button{
    margin-top: 60px;
    font-size: 1.2em;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    background-color: rgb(36, 126, 36);
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
    text-shadow: 2px 2px 1px black;
}

#destaque div button:hover{
    background-color: rgb(119, 119, 202);
}

#sobre{
    background-color: rgb(209, 209, 202);
    margin: auto;
    max-width: 1000px;
    height: 350px;
    padding: 10px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
}

#sobre h2{
    font-size: 1.5em;
    text-align: left;
    padding:10px 0 10px 20px ;
}

#sobre article{
    display: flex;
    padding: 15px;
}

#sobre article p{
    padding: 60px 15px 15px 30px;
    font-size: 1.5em;
}

#sobre article figcaption{
    padding: 5px 0px 0px 25px;
}

#servicos{
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color: rgb(209, 209, 202);
    max-width: 1000px;
    height: 400px;
    padding: 10px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
}

#servicos div{
    margin: auto;
}

#servicos h2{
    font-size: 1.5em;
    text-align: left;
    padding: 8px 0 8px 20px;
}

#servicos ul{
    font-size: 1.2em;
    color: rgb(45, 39, 39);
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

#servicos h3 {
    font-size: 1.5em;
    text-align: left;
    padding: 8px 0 8px 20px;
}

#servicos ol{
    color: rgb(45, 39, 39);
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    
}

#planos{
    background-color: rgb(209, 209, 202);
    margin: auto;
    max-width: 1000px;
    height: 350px;
    padding: 10px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
}

#planos h2{
    font-size: 1.5em;
    text-align: left;
    padding: 10px 0 10px 20px;
}

#planos table{
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;
    border-collapse: collapse;
    max-width: 500px;
    font-size: 1.4em;
}

#planos table td, th{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
} 

#contato{
    background-color: rgb(209, 209, 202);
    margin: auto;
    max-width: 1000px;
    height: 500px;
    padding: 10px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
}

#contato h2{
    font-size: 1.5em;
    text-align: left;
    padding: 10px 0 10px 20px;
}

#contato fieldset{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 400px;
    padding: 15px;
}

#contato fieldset legend, label{
    font-size: 1.3em;
    padding-bottom: 5px;
}

#contato fieldset input{
    margin: auto;
    height: 20px;
    margin-bottom: 5px;
    width: 400px;
}

#contato fieldset textarea{
    margin-bottom: 10px;
    max-width: 400px;
}

#contato #enviar{
    background-color: rgb(114, 227, 70);
    color: rgb(10, 101, 12);
    width: 200px;
    height: 30px;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: bolder;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
}

#contato #enviar:hover{
    color: white;
    background-color:rgb(10, 101, 12) ;
}

#contato #limpar {
    background-color: rgb(148, 41, 41);
    color: rgb(255, 251, 0);
    width: 200px;
    height: 30px;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: bolder;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
}

#contato #limpar:hover{
    color: white;
    background-color:rgb(201, 37, 37) ;
}

footer{
    background-image: linear-gradient(to top, rgb(127, 119, 119), rgb(75, 71, 71));
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    font-size: 1.3em;
}

footer a{
    text-decoration: none;
    color: rgb(72, 244, 4);
}

footer a:hover{
    color: rgb(0, 8, 255);
    font-size: 1.4em;
    transition: color .4s;
}

