body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1{
    color:#0078d7;
    text-align: center;
}

button{
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background-color: #0078d7;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color:#005fa3 ;
}

#resultado{
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    min-height: 50px;
}