
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #b0aed8;
    height: 100vh;
    width: 100vw;
} 

.cabecalho {
    display: flex;
    background-color: rgb(17, 0, 255);
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    
}

.menu{
    display: flex;
    gap: 20px;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu a:hover,
.menu a.active{
    background-color: #555;
}

.active{
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    background: #2853c9;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;/*Força a quebra de linha*/
}

.box {
    flex:1 1 300px;/*Até 300px se mantem na mesma linha*/
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1b8821;    
    margin: 10px;
    padding: 20px;
    color: rgb(234, 238, 243);
    text-align: center;    
    box-sizing: border-box;
    box-shadow: 2px 2px solid black;
}

@media screen and (max-width: 768px){
    .box {
            background-color: #db2c1f;
        }
    .cabecalho{
        flex-direction: column;/*Altera a direção para coluna em tela pequena*/
        align-items: flex-start;/*alinha os ítens a esquerda*/
    }
    .menu{
        flex-direction: column;/*Altera a direção do menu para coluna*/
        width: 100%;/*faz o menu ocupar a largura total*/
        gap: 0;/*remove o espaçamento entre os links */
    }
    .menu a{
        display: block; /*faz os links ocuparem a largura total do menu */
        width: 100%;
        text-align: center;/*centraliza o texto*/
        padding: 15px;
        border-bottom: 1px solid #444;/*Adiciona uma linha divisória*/
    }

    .menu a:last-child{
        border-bottom: none; /*remove a linha do último link */
    }
    
}

@media screen and (max-width: 355px) {
    .box {
        background-color: #6694c0;
        transition: ease 0.4s;
    }

}