
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu-lista{
   display: flex;
   width: 100%;
   height: auto;
   top: 0;
   justify-content: space-around;
   background-color: rgb(48, 36, 36);
}

.menu-lista li{
    list-style: none;
}

.active{
    color: rgb(232, 223, 223);
    text-decoration: none;
}



.container {
    display: flex;
    flex-wrap: wrap;/*Força a quebra de linha*/
}

.box {
    flex:1 1 400px;/*Até 300px se mantem na mesma linha*/
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1b8821;    
    margin: 10px;
    padding: 20px;
    color: rgb(234, 238, 243);
    text-align: center;    
    box-sizing: border-box;
    box-shadow: 2px 2px solid black;
}

#aquario{
    max-width: 350px;
    height: auto;
    
}

@media screen and (max-width: 768px) {
    .box{
       background-color: #db2c1f; 
    }
    
    #aquario{
        
        transition: ease 0.4s;
    }
}

@media screen and (max-width: 355px) {
    .box {
        background-color: #6694c0;
        transition: ease 0.4s;
    }
    #aquario{
        transform: scale(50%);
        transition: ease 0.4s;     
  }
}